@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --bg: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    --font: 'Poppins', sans-serif;
    --padding-container: 60px 20px;
    --bg-container: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --color1: #3498db;
    --color2: #fbfcfc;
    --color1-hover: #58d68d; 
    --bg-alert: #db2777;
}

body{
    width: 100%;
    height: 100vh;
    background-image: var(--bg);
    font-family: var(--font);
}

.section{
    width: 100%;
    height: inherit;
}

.title{
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    font-weight: 600;
    color: var(--color2);
    filter: drop-shadow(0 0 10px rgba(0,0,0,.6));
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    padding: var(--padding-container);
    background-image: var(--bg-container);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: flex;
    justify-content: space-between;
    gap: 20px 30px;
}

.formulario{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label{
    font-size: 1.3rem;
    font-weight: 300;
    color: #000;
}

.text-area{
    resize: none;
    width: 450px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    outline: none;
}

.btn-submit{
    padding: 10px;
    border-radius: 5px;
    background: var(--color1);
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    font-size: 1rem;
    font-weight: 400;
    color: var(--color2);
    transition: all .3s ease;
    cursor: pointer;
}

.btn-submit:hover{
    background: var(--color1-hover);
    color: var(--color2);
}

.display-tweet{
    width: 50%;
}

.sub-title{
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

.display{
    width: 100%;
    margin-top: 40px;
}

.error{
    width: 60%;
    margin: 20px auto;
    background: var(--bg-alert);
    padding: 15px 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color2);
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    border-radius: 10px;
}

.lista{
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
}

.borrar-tweet{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    text-align: right;
    background: crimson;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    border-radius: 100%;
    color: var(--color2);
}